
html {
  font-size: 100%;
}

body {
  font-size: 1em;
  background: #ffffff;
}

embed {
  max-width: 100%;
}

.main-container {
  margin-top: 1.750em;
  .first-section + & {
    margin-top: 7.5em;
  }
  .page-template-template-landing-page & {
    margin-top: 0;
    margin-top: 0;
  }
}

.no-results h3 {
  margin-top: 0;
}

@media (max-width: 767px) {
  .first-section + .main-container {
    margin-top: 1.5em;
  }
}